@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'teko', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #0f0f0f;
  overflow: hidden;
}

.iframe-container{
  position: relative;
  flex-direction: column;
  width: 100%;
  flex: 1;
  display: flex;
}

.header{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.down_btn{
  color: #cc2026;
  font-size: 35px;
  padding-right: 25px;
}

.material-symbols-outlined{
  font-size: 50px !important;
}

.screenshot_btn{
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.done_div{
  height: 124px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  align-items: center;
  background-color: #454545;
}
.btn-done{
  background-color: #cc2026;
  padding: 10px;
  border: solid 3px #cc2026;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  margin-right: 25px;
  font-size: 25px;
  color: #e7e7e7;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-done:hover{
  background-color: transparent;
  color: #cc2026;
}

input {
  display: none;
}

h2 {
  font-weight: normal;
  font-size: 45px;
  line-height: 0;
}

.logo {
  position: relative;
  margin-top: -20px;
  width: 380px;
  height: 75px;
  background-color: #454545;
  padding: 15px;
  z-index: 5;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
}

.iframe-container>iframe {
  border: 0;
  width: 100%;
  height: 75vh;
}

.controls {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  height: 25vh;

}

.color_options {
  margin: auto;
}

.packages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  height: 100%;
  background-color: #cc2026;
}
.packages > h2{
  margin-left: 10px;
}
.options>div.options0 {
  display: block;
}

.options>div.options1,
.options>div.options2 {
  display: none;
}

.swatches {
  display: flex;
  width: 750px;
  padding-bottom: 10px;
}

/* black swatch */
#color_options > div.options > div > div > label:nth-child(3){
  border: 1.5px solid white;
}

.color_swatch {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 15px;
  transition: 0.3s;
}
.color_swatch:hover{
  width: 43px;
  height: 43px;
}

.color_swatch:focus{
  border: 3px solid teal;
}

#title_counter {
  display: flex;
}

.color_nav {
  cursor: pointer;
  display: flex;
  line-height: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-left: 25px;
  color: #cc2026;
}

#prev:hover,
#next:hover {
  color: #cc2026;
}

.sub_packs {
  display: flex;
}

.sel_pack {
  margin-top: 30px;
}

.sel_pack>h2 {
  height: 30px;
  margin-left: 10px;
}

.pack_block:hover {
  background-color: #454545 !important;
}

#pack0_b {
  background-color: #454545;
}

.pack_block {
  width: 60px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  background-color: #0f0f0f;
}

.pack_block>p {
  line-height: 0;
}

.menu-colapse {
  display: flex;
  position: relative;
  width: 50px;
  margin-top: -70px;
  background-color: #cc2026;
  padding: 10px;
  font-size: 40px;
}

span {
  font-size: 50px !important;
}

#expand {
  display: none;
}

#expand:hover,
#collapse:hover {
  color: #0f0f0f;
}

.disclaimer{
  margin-left: 15px;
}

/* responsiveness */
@media only screen and (max-width: 400px){
  .pack_block{
    width: 50px;
    height: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 790px) {
  .header{
    justify-content: end;
  }
  .done_div{
    height: 90px;
  }
  .btn-done{
    font-size: 20px;
  }
  .material-symbols-outlined{
    font-size: 35px !important;
  }
  .logo, .menu-colapse{
    display: none;
  }
  .color_nav {
    width: 100vw;
  }
  .options{
    margin-bottom: 35px;
  }
  /* scroll bar */
  .options::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0.45em;
  }

  .options::-webkit-scrollbar-track {
    background-color: black;
  }

  .options::-webkit-scrollbar-corner {
    opacity: 0;
  }

  .options::-webkit-scrollbar-thumb {
    background-color: #cc2026a2;
  }

  .options::-webkit-scrollbar-thumb:hover {
    background-color: #cc2026;
  }
  /* ============= */
}

@media only screen and (max-width: 1200px) {
  html, body{
    overflow-y: auto;
    overflow-x: hidden;
  }
  .options {
    overflow: auto;
    width: 100vw;
    max-width: 740px;
  }

  .packages {
    width: 100vw;
    height: auto !important;
  }

  .color_options {
    margin: 0;
  }

  .controls>div {
    justify-content: start;
  }

  .iframe-container>iframe {
    height: 65vh;
  }

  .controls {
    height: 35vh;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .menu-colapse {
    position: relative;
  }
}